<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- favicon -->
  <link rel="shortcut icon" sizes="32x32" href="/public/images/senaclogo-removebg-preview.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet" href="public/css/bootstrap.css" />

  <link rel="stylesheet" href="public/css/default.css" />

  <link rel="stylesheet" href="public/css/header.css" />

  <link rel="stylesheet" href="public/css/form.css" />

  <link rel="stylesheet" href="public/css/cadastro.css" />

  <link rel="shortcut icon" sizes="32x32" href="/public/images/senaclogo-removebg-preview.png">



  <meta name="description" content="A confeitaria do Senac proporciona o melhor para o seu bem-estar e alimentação" />

  <title>| Administrador</title>
</head>

<body>
  <header>
    <a href="https://www.senac.br" target="_blank">
      <div class="logo"><i class="fas fa-utensils"></i></div>
    </a>
    <button class="navbar--btnMobile" id="navbar--btnMobile">
      <span class="btnMobile--icon"></span>
    </button>
    <nav class="navbar" id="navbar">
      <div class="navbar--links">
        <a href="/home" class="animateLink" onclick="LinkActive()">
          <div class="link">Home<span class="link--linha"></span></div>
        </a>
        <a href="/administrador" class="animateLink" onclick="LinkActive()">
          <div class="link active">Cadastro<span class="link--linha"></span></div>
        </a>
        <a href="/admQtd" class="animateLink" onclick="LinkActive()">
          <div class="link">Quantidade<span class="link--linha"></span></div>
        </a>
      </div>
      <div class="navbar--login">
        <a href="/home">
          <div class="login">Sair</div>
        </a>
        <div class="toggle-btn" id="_1st-toggle-btn">
          <input type="checkbox" onchange="darkModeToggle()" id="chkDarkMode">
          <span></span>
        </div>
      </div>
    </nav>
  </header>

  <main class="container">
    <section class="cadastro--container">


      <div class="cadastro--title">
        <h1>Cadastrar alimento:</h1>
      </div>
      <form enctype="multipart/form-data" action="/add-alimentos" class="row g-3" id="produto-form" novalidate
        method="post">

        <div class="input-imagem">
          <label for="inputState" class="form-label">Imagem do alimento</label>
          <input id="inputIMG" name="imagem" type="file" class="form-control">
        </div>

        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Lanche</label>
          <input type="text" class="form-control" id="inputLanche" placeholder="Lanche/Bebida" maxlength="200"
            name="nome" />
        </div>

        <div class="col-md-6 input--box">
          <label for="inputPassword4" class="form-label">Preço</label>
          <input type="number" class="form-control" id="inputPreco" placeholder="Preço" maxlength="200" id="preco"
            name="preco" />
        </div>

        <div class="col-md-6">
          <label for="inputAddress" class="form-label">Peso</label>
          <input type="number" class="form-control" id="inputPeso" data-mask="00:00" pattern="\(\d{2}\)\s*\d{5}-\d{4}"
            placeholder="kg/ml" maxlength="15" name="peso" />
        </div>

        <div class="col-md-6">
          <label for="inputState" class="form-label">Tipo</label>
          <select name="idTipoProduto" id="tipo" class="form-control">
            <option selected disabled>Escolha</option>
            {{#each rows}} <option value=" {{ idTipoProduto }} "> {{ descricao }} </option>
            {{/each}}
          </select>
        </div>

        <input type="submit" name="enviar" id="imgbtn" class="btn btnForm imgbtn"></input>


        {{!-- <div class="col-12">
          <input type="submit" name="enviar" class="btn btnForm imgbtn"></input>
        </div> --}}
      </form>
    </section>

  </main>

  <script src="../public/js/adm_Produtos.js"></script>

  <script src="../public/js/btn-mobile.js"></script>

  <script src="../public/js/cardapio.js"></script>

  <script src="../public/js/carrinho.js"></script>

  <script src="/public/js/header.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</body>

</html>