<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A confeitaria do Senac proporciona o melhor para o seu bem-estar e alimentação" />
  <link rel="stylesheet" href="public/css/bootstrap.css" />


  <!-- favicon -->
  <link rel="shortcut icon" sizes="32x32" href="/public/images/senaclogo-removebg-preview.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet" href="public/css/default.css" />

  <link rel="stylesheet" href="public/css/header.css" />

  <link rel="stylesheet" href="public/css/home.css" />

  <link rel="stylesheet" href="../public/css/cardapio.css" />
  <link rel="stylesheet" href="../public/css/pedidos.css" />

  <link rel="stylesheet" href="public/css/carrinho.css" />

  <link rel="stylesheet" href="public/css/sobre.css" />

  <link rel="stylesheet" href="public/css/footer.css" />

  <link rel="stylesheet" href="public/css/404.css" />

  <title>Projeto Integrador</title>
</head>

<body>
  <div class="filter-wrapper">
    <label for="filter">Filtro:</label>
    <input type="text" id="filter" name="filter">
    <button id="filter-button">Filtrar</button>
  </div>
  <div class="container">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Cliente</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>Frango Xadrez</td>
            <td>João Silva</td>
            <td>R$30,00</td>
            <td>2</td>
            <td>2023-03-01</td>
          </tr>
          <tr>
            <td>002</td>
            <td>Pizza Margherita</td>
            <td>Maria Santos</td>
            <td>R$35,00</td>
            <td>1</td>
            <td>2023-03-02</td>
          </tr>
          <tr>
            <td>003</td>
            <td>Lasanha à Bolonhesa</td>
            <td>Luís Oliveira</td>
            <td>R$45,00</td>
            <td>3</td>
            <td>2023-03-03</td>
          </tr>
          <tr>
            <td>004</td>
            <td>Bife a Cavalo</td>
            <td>Luciana Ferreira</td>
            <td>R$25,00</td>
            <td>2</td>
            <td>2023-03-04</td>
          </tr>
          <tr>
            <td>005</td>
            <td>Macarrão com Queijo</td>
            <td>Pedro Almeida</td>
            <td>R$20,00</td>
            <td>1</td>
            <td>2023-03-05</td>
          </tr>
          <tr>
            <td>006</td>
            <td>Salmão Grelhado</td>
            <td>Andréia Costa</td>
            <td>R$55,00</td>
            <td>2</td>
            <td>2023-03-06</td>
          </tr>
          <tr>
            <td>007</td>
            <td>Feijoada Completa</td>
            <td>Juliano Santos</td>
            <td>R$40,00</td>
            <td>3</td>
            <td>2023-03-07</td>
          </tr>
          <tr>
            <td>008</td>
            <td>Peixe Frito</td>
            <td>Beatriz Silva</td>
            <td>R$28,00</td>
            <td>1</td>
            <td>2023-03-08</td>
          </tr>
          <tr>
            <td>009</td>
            <td>Arroz com Feijão</td>
            <td>José Oliveira</td>
            <td>R$12,00</td>
            <td>2</td>
            <td>2023-03-09</td>
          </tr>
          <tr>
            <td>010</td>
            <td>Bife à Parmegiana</td>
            <td>Lucas Souza</td>
            <td>R$50,00</td>
            <td>1</td>
            <td>2023-03-10</td>
          </tr>
          <tr>
            <td>011</td>
            <td>Frango Assado</td>
            <td>Isabel Santos</td>
            <td>R$35,00</td>
            <td>2</td>
            <td>2023-03-11</td>
          </tr>
          <tr>
            <td>012</td>
            <td>Salada de Frutas</td>
            <td>Leonardo Fernandes</td>
            <td>R$15,00</td>
            <td>1</td>
            <td>2023-03-12</td>
          </tr>
          <tr>
            <td>013</td>
            <td>Massa com Frutos do Mar</td>
            <td>Gabriela Alves</td>
            <td>R$60,00</td>
            <td>3</td>
            <td>2023-03-13</td>
          </tr>
          <tr>
            <td>014</td>
            <td>Ensopado de Carne</td>
            <td>Mariana Costa</td>
            <td>R$40,00</td>
            <td>2</td>
            <td>2023-03-14</td>
          </tr>
          <tr>
            <td>015</td>
            <td>Sopa de Legumes</td>
            <td>Fernando Oliveira</td>
            <td>R$18,00</td>
            <td>1</td>
            <td>2023-03-15</td>
          </tr>
          <tr>
            <td>016</td>
            <td>Arroz de Camarão</td>
            <td>Paulo Santos</td>
            <td>R$50,00</td>
            <td>2</td>
            <td>2023-03-16</td>
          </tr>
          <tr>
            <td>018</td>
            <td>Frango Grelhado</td>
            <td>Roberto Silva</td>
            <td>R$30,00</td>
            <td>2</td>
            <td>2023-03-18</td>
          </tr>
          <tr>
            <td>019</td>
            <td>Sushi Variado</td>
            <td>Aline Oliveira</td>
            <td>R$60,00</td>
            <td>3</td>
            <td>2023-03-19</td>
          </tr>
          <tr>
            <td>020</td>
            <td>Batata Frita</td>
            <td>Gustavo Santos</td>
            <td>R$15,00</td>
            <td>1</td>
            <td>2023-03-20</td>
          </tr>
          <tr>
            <td>017</td>
            <td>Feijão Tropeiro</td>
            <td>Fabiana Almeida</td>
            <td>R$35,00</td>
            <td>3</td>
            <td>2023-03-17</td>
          </tr>
          </tr>
          <tr>
            <td>021</td>
            <td>Frango à Passarinho</td>
            <td>Camila Souza</td>
            <td>R$25,00</td>
            <td>1</td>
            <td>2023-03-21</td>
          </tr>
          <tr>
            <td>022</td>
            <td>Escondidinho de Carne</td>
            <td>Luciana Oliveira</td>
            <td>R$45,00</td>
            <td>2</td>
            <td>2023-03-22</td>
          </tr>
          <tr>
            <td>023</td>
            <td>Arroz à Grega</td>
            <td>Juliana Santos</td>
            <td>R$20,00</td>
            <td>1</td>
            <td>2023-03-23</td>
          </tr>
          <tr>
            <td>024</td>
            <td>Feijoada Completa</td>
            <td>André Costa</td>
            <td>R$50,00</td>
            <td>3</td>
            <td>2023-03-24</td>
          </tr>
          <tr>
            <td>009</td>
            <td>Arroz com Feijão</td>
            <td>José Oliveira</td>
            <td>R$12,00</td>
            <td>2</td>
            <td>2023-03-09</td>
          </tr>
          <tr>
            <td>010</td>
            <td>Bife à Parmegiana</td>
            <td>Lucas Souza</td>
            <td>R$50,00</td>
            <td>1</td>
            <td>2023-03-10</td>
          </tr>
          <tr>
            <td>011</td>
            <td>Frango Assado</td>
            <td>Isabel Santos</td>
            <td>R$35,00</td>
            <td>2</td>
            <td>2023-03-11</td>
          </tr>
          <tr>
            <td>012</td>
            <td>Salada de Frutas</td>
            <td>Leonardo Fernandes</td>
            <td>R$15,00</td>
            <td>1</td>
            <td>2023-03-12</td>
          </tr>
          <tr>
            <td>013</td>
            <td>Massa com Frutos do Mar</td>
            <td>Gabriela Alves</td>
            <td>R$60,00</td>
            <td>3</td>
            <td>2023-03-13</td>
          </tr>
          <tr>
            <td>014</td>
            <td>Ensopado de Carne</td>
            <td>Mariana Costa</td>
            <td>R$40,00</td>
            <td>2</td>
            <td>2023-03-14</td>
          </tr>
          <tr>
            <td>015</td>
            <td>Sopa de Legumes</td>
            <td>Fernando Oliveira</td>
            <td>R$18,00</td>
            <td>1</td>
            <td>2023-03-15</td>
          </tr>
          <tr>
            <td>016</td>
            <td>Arroz de Camarão</td>
            <td>Paulo Santos</td>
            <td>R$50,00</td>
            <td>2</td>
            <td>2023-03-16</td>
          </tr>
          <tr>
            <td>018</td>
            <td>Frango Grelhado</td>
            <td>Roberto Silva</td>
            <td>R$30,00</td>
            <td>2</td>
            <td>2023-03-18</td>
          </tr>
          <tr>
            <td>019</td>
            <td>Sushi Variado</td>
            <td>Aline Oliveira</td>
            <td>R$60,00</td>
            <td>3</td>
            <td>2023-03-19</td>
          </tr>
          <tr>
            <td>020</td>
            <td>Batata Frita</td>
            <td>Gustavo Santos</td>
            <td>R$15,00</td>
            <td>1</td>
            <td>2023-03-20</td>
          </tr>
          <tr>
            <td>017</td>
            <td>Feijão Tropeiro</td>
            <td>Fabiana Almeida</td>
            <td>R$35,00</td>
            <td>3</td>
            <td>2023-03-17</td>
          </tr>
          </tr>
          <tr>
            <td>021</td>
            <td>Frango à Passarinho</td>
            <td>Camila Souza</td>
            <td>R$25,00</td>
            <td>1</td>
            <td>2023-03-21</td>
          </tr>
          <tr>
            <td>022</td>
            <td>Escondidinho de Carne</td>
            <td>Luciana Oliveira</td>
            <td>R$45,00</td>
            <td>2</td>
            <td>2023-03-22</td>
          </tr>
          <tr>
            <td>023</td>
            <td>Arroz à Grega</td>
            <td>Juliana Santos</td>
            <td>R$20,00</td>
            <td>1</td>
            <td>2023-03-23</td>
          </tr>
          <tr>
            <td>024</td>
            <td>Feijoada Completa</td>
            <td>André Costa</td>
            <td>R$50,00</td>
            <td>3</td>
            <td>2023-03-24</td>
          </tr>
          <tr>
            <td>009</td>
            <td>Arroz com Feijão</td>
            <td>José Oliveira</td>
            <td>R$12,00</td>
            <td>2</td>
            <td>2023-03-09</td>
          </tr>
          <tr>
            <td>010</td>
            <td>Bife à Parmegiana</td>
            <td>Lucas Souza</td>
            <td>R$50,00</td>
            <td>1</td>
            <td>2023-03-10</td>
          </tr>
          <tr>
            <td>011</td>
            <td>Frango Assado</td>
            <td>Isabel Santos</td>
            <td>R$35,00</td>
            <td>2</td>
            <td>2023-03-11</td>
          </tr>
          <tr>
            <td>012</td>
            <td>Salada de Frutas</td>
            <td>Leonardo Fernandes</td>
            <td>R$15,00</td>
            <td>1</td>
            <td>2023-03-12</td>
          </tr>
          <tr>
            <td>013</td>
            <td>Massa com Frutos do Mar</td>
            <td>Gabriela Alves</td>
            <td>R$60,00</td>
            <td>3</td>
            <td>2023-03-13</td>
          </tr>
          <tr>
            <td>014</td>
            <td>Ensopado de Carne</td>
            <td>Mariana Costa</td>
            <td>R$40,00</td>
            <td>2</td>
            <td>2023-03-14</td>
          </tr>
          <tr>
            <td>015</td>
            <td>Sopa de Legumes</td>
            <td>Fernando Oliveira</td>
            <td>R$18,00</td>
            <td>1</td>
            <td>2023-03-15</td>
          </tr>
          <tr>
            <td>016</td>
            <td>Arroz de Camarão</td>
            <td>Paulo Santos</td>
            <td>R$50,00</td>
            <td>2</td>
            <td>2023-03-16</td>
          </tr>
          <tr>
            <td>018</td>
            <td>Frango Grelhado</td>
            <td>Roberto Silva</td>
            <td>R$30,00</td>
            <td>2</td>
            <td>2023-03-18</td>
          </tr>
          <tr>
            <td>019</td>
            <td>Sushi Variado</td>
            <td>Aline Oliveira</td>
            <td>R$60,00</td>
            <td>3</td>
            <td>2023-03-19</td>
          </tr>
          <tr>
            <td>020</td>
            <td>Batata Frita</td>
            <td>Gustavo Santos</td>
            <td>R$15,00</td>
            <td>1</td>
            <td>2023-03-20</td>
          </tr>
          <tr>
            <td>017</td>
            <td>Feijão Tropeiro</td>
            <td>Fabiana Almeida</td>
            <td>R$35,00</td>
            <td>3</td>
            <td>2023-03-17</td>
          </tr>
          </tr>
          <tr>
            <td>021</td>
            <td>Frango à Passarinho</td>
            <td>Camila Souza</td>
            <td>R$25,00</td>
            <td>1</td>
            <td>2023-03-21</td>
          </tr>
          <tr>
            <td>022</td>
            <td>Escondidinho de Carne</td>
            <td>Luciana Oliveira</td>
            <td>R$45,00</td>
            <td>2</td>
            <td>2023-03-22</td>
          </tr>
          <tr>
            <td>023</td>
            <td>Arroz à Grega</td>
            <td>Juliana Santos</td>
            <td>R$20,00</td>
            <td>1</td>
            <td>2023-03-23</td>
          </tr>
          <tr>
            <td>024</td>
            <td>Feijoada Completa</td>
            <td>André Costa</td>
            <td>R$50,00</td>
            <td>3</td>
            <td>2023-03-24</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="pagination">
    <a href="#" class="prev">&laquo; Anterior</a>
    <a href="#" class="page active">1</a>
    <a href="#" class="page">2</a>
    <a href="#" class="page">3</a>
    <a href="#" class="next">Próxima &raquo;</a>
  </div>

</body>
</div>

<script src="/public/js/btn-mobile.js"></script>

<script src="/public/js/cardapio.js"></script>

<script src="/public/js/carrinho.js"></script>

<script src="/public/js/header.js"></script>

<script src="/public/js/404.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="../public/js/preloader.js"></script>
<script>
  var $doc = $("html, body");
  $(".animateLink").click(function () {
    $doc.animate(
      {
        scrollTop: $($.attr(this, "href")).offset().top,
      },
      500
    );
    return false;
  });
</script>

</html>