<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="public/css/bootstrap.css" />

  <!-- favicon -->
  <link rel="shortcut icon" sizes="32x32" href="/public/images/senaclogo-removebg-preview.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <link rel="stylesheet" href="public/css/default.css" />

  <link rel="stylesheet" href="public/css/header.css" />

  <link rel="stylesheet" href="public/css/form.css" />

  <link rel="stylesheet" href="public/css/login.css" />

  <link rel="stylesheet" href="public/css/carrinho.css" />

  <link rel="stylesheet" href="public/css/redefinirSenha.css">

  <title>| Recuperar Senha</title>
</head>

<body>
  <header>
    <a href="https://www.senac.br" target="_blank">
      <div class="logo"><i class="fas fa-utensils"></i></div>
    </a>
    <button class="navbar--btnMobile" id="navbar--btnMobile">
      <span class="btnMobile--icon"></span>
    </button>
    <nav class="navbar" id="navbar">
      <div class="navbar--links">
        <a href="/home">
          <div class="link">Home<span class="link--linha"></span></div>
        </a>
        <a href="home#cardapio">
          <div class="link">Cardápio<span class="link--linha"></span></div>
        </a>
        <a href="home#sobre">
          <div class="link">Sobre<span class="link--linha"></span></div>
        </a>
        <a href="home#contato">
          <div class="link">Contato<span class="link--linha"></span></div>
        </a>
      </div>

      <div class="navbar--login">
        <a href="cadastro">
          <div class="link cadastro">
            Cadastre-se<span class="link--linha"></span>
          </div>
        </a>
        <a href="/">
          <div class="login" data-bs-toggle="modal" data-bs-target="#modalLogin">
            Login
          </div>
        </a>
        <div class="toggle-btn" id="_1st-toggle-btn">
          <input type="checkbox" onchange="darkModeToggle()" id="chkDarkMode">
          <span></span>
        </div>
      </div>
    </nav>
  </header>

  <section class="login--container">
    <form class="login--box redefinirSenha" action="/redefinirSenha" method="post">
      <div class="login--inputs redefinirSenha">
        <h1>Redefina sua senha</h1>
        <div class="input--box">
          <label for="inputEmail">Email</label>
          <div id="desativado">
            <input type="email" id="inputEmail " class="form-control" placeholder="{{ email }}"
              onchange="validaEmail(this, false)" maxlength="60" name="email" disabled />
            <span id="msgErroEmail" class="msgErro">Mensagem de erro</span>
          </div>
        </div>
        <div class="input--box">
          <div class="text--senha">
            <label for="inputSenha">Nova senha</label>
          </div>
          <input name="senha" type="password" id="inputSenha" class="form-control" placeholder="Senha"
            onchange="validaSenha(this)" name="senha" />
          <i class="fas fa-check-circle ok" id="okSenha"></i>
          <i class="fas fa-exclamation-circle erro" id="erroSenha"></i>
          <span id="msgErroSenha" class="msgErro">Mensagem de erro</span>
        </div>
        <div class="input--box">
          <div class="text--senha">
            <label for="inputSenha">Nova senha</label>
          </div>
          <input name="senha2" type="password" id="inputSenha" class="form-control" placeholder="Senha"
            onchange="validaSenha(this)" name="senha" />
          <i class="fas fa-check-circle ok" id="okSenha"></i>
          <i class="fas fa-exclamation-circle erro" id="erroSenha"></i>
          <span id="msgErroSenha" class="msgErro">Mensagem de erro</span>
        </div>
        <input type="submit" id="btnLogin" class="btnForm" onclick="login()">

      </div>
    </form>
  </section>


  <script src="../public/js/btn-mobile.js"></script>

  <script src="../public/js/form.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="../public/js/preloader.js"></script>

  <script src="/public/js/header.js"></script>

  <script src="/public/js/valida.js"></script>
  <script src="/public/js/redefine.js"></script>

</body>

</html>