<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <ul>
            <% rows.forEach(function(rows) { %>
                <table border="10">
                    <tr>
                        <td>Nome</td>
                        <td>Email</td>
                    </tr>
                    <tr>
                        <td><%= rows.nome %>></td>
                        <td><%= rows.email %></td>
                    </tr>
                </table>
                <% }); %>
        </ul>
    </table>
</body>

</html>