<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="A confeitaria do Senac proporciona o melhor para o seu bem-estar e alimentação" />
  <link rel="stylesheet" href="public/css/bootstrap.css" />

  <title>validacao</title>
</head>

<body>
  <form action="/valida" method="post">
    <label for="mail"></label>
    <input type="text" name="mail" class="input">
    <button type="submit" class="envialogo">envia</button>
  </form>
</body>
</div>

<script src="/public/js/valida.js"></script>

<script>
    let valor = document.getElementById('mail').value
    sessionStorage.setItem('email', valor)
</script>

</html>