.form--title h1 {
    font-weight: 400;
    font-size: 2.5rem;
}

.form-control {
    /* padding: 10px 12px; */
    color: var(--fonte1);
    border: 1px solid var(--placeholder);
    border-radius: 8px;
    position: relative;
    background-color: var(--background);
}

.form-control::placeholder {
    color: var(--placeholder);
    font-weight: 400;
    font-size: 1rem;
}

.form-control:focus{
    color: var(--fonte1);
    transition: border .3s ease;
    border: 1px solid var(--cor1);
    background-color: var(--background);
}

.input--box {
    position: relative;
}

.btnForm {
    background: var(--background2);
    width: 100%;
    color: var(--hover);
    padding: 13px;
    border: none;
}

.btn {
    border-radius: 8px;
}

.btnForm:hover {
    color: var(--hover);  
    padding: 12px;
    border: 1px solid var(--cor1);
    background-color: var(--background2);
}

.form-control.inputErro {
    border: 2px solid #ff0000;
}

.form-control.inputOk {
    border: 2px solid #0ccc0c;
}

.login--inputs i {
    position: absolute;
    top: 57px;
    right: 10px;
    display: none;
    animation: inputErro-anim .3s linear;
}

.erro {
    color: #ff0000;
}

.ok {
    color: #008000;
} 

.msgErro {
   color: #ff0000;
   font-size: .9rem;
   padding-top: 5px;
   display: none;
}

@keyframes inputErro-anim {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(5px);
    }
    66% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}