
.container {
  padding: 0px;
  width: 60%;
  border: 1px solid #333;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  color: #333;
}

thead {
  background-color: #f2f2f2;
  text-align: left;
}

th {
  padding: 12px;
  font-weight: bold;
}

td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: #333;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 5px;
}

.pagination a.prev,
.pagination a.next {
  background-color: #f2f2f2;
}

.pagination a.page.active {
  background-color: #333;
  color: #fff;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/* -------------------------------- */

.filter-box {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 5px;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
}
