<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Código de Verificação de Senha</title>
    <link rel="stylesheet" href="resetpass.css">
</head>

<body>
    <div class="container">
        <h1>Código de Verificação de Senha</h1>
        <p>Olá,</p>
        <p>Aqui está o código de verificação de senha que você solicitou:</p>
        <span class="code">{{texto}}</span>
        <p class="code-text">
            Insira este código no campo apropriado para redefinir sua senha.
        </p>
        <p class="expires">
            Este código expirará quando voce fechar a aba de verificação de codigo ou senha em seu navegador. Se você não solicitou este código,
            ignore este e-mail.
        </p>
    </div>
</body>

</html>