<!DOCTYPE html>

<link rel="stylesheet" href="global.css">
<html>

<body>
    <p>Olá,</p>
    <p>Recebemos uma solicitação de redefinição de senha para sua conta.</p>
    <p>Se você não solicitou uma redefinição de senha, por favor, ignore este email.</p>
    <p>Se você solicitou uma redefinição de senha, use o código abaixo para continuar:</p>
    <div
        style="display: flex; justify-content: center; align-items: center; background-color: #f1f1f1; height: 50px; width: 100%; margin: 20px 0;">
        <p style="font-size: 24px; font-weight: bold; color: #333; margin: 0;">123456</p>
    </div>
    <p>Este código é válido por 30 minutos.</p>
    <p>Por favor, não compartilhe este código com ninguém.</p>
    <p>Se você tiver alguma dúvida ou precisar de ajuda, entre em contato com nossa equipe de suporte.</p>
    <p>Atenciosamente,<br>Minha Empresa</p>
</body>

</html>