<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Boas-Vindas</title>
    <style>
      /* Fontes */
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
      /* Estilos */
      body {
        background-color: #f3f3f3;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 40px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        color: #222222;
        text-align: center;
        margin-top: 0;
        margin-bottom: 24px;
      }
      p {
        font-size: 16px;
        font-weight: 300;
        color: #444444;
        text-align: center;
        margin-bottom: 24px;
      }
      .button {
        display: inline-block;
        padding: 16px 24px;
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        border-radius: 8px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      }
      .button:hover {
        background-color: #0069d9;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Bem-Vindo ao Nosso Site!</h1>
      <p>Olá,</p>
      <p>Estamos felizes em tê-lo(a) conosco!
      </p>
      <p>
        Para começar, confirme seu e-mail clicando no botão abaixo. Isso nos
        ajudará a garantir que você receba todas as atualizações importantes
        relacionadas à sua conta.
      </p>
      <p>
        <a href="#" class="button">Volte ao nosso Site!</a>
      </p>
      <p>
        Obrigado(a) novamente por escolher o nosso site. Mal podemos esperar
        para ver o que você vai criar!
      </p>
    </div>
  </body>
</html>
