<!DOCTYPE html>

<link rel="stylesheet" href="global.css">
<html>
    <body>
        <p>Olá,</p>
        <p>Bem-vindo à Minha Empresa! Estamos muito felizes por você se juntar a nós.</p>
        <p>Com nossa plataforma, você terá acesso a recursos exclusivos e poderá aproveitar ao máximo nossa experiência de usuário intuitiva.</p>
        <p>Para começar, recomendamos que você faça login em sua conta e explore nossos recursos. Se precisar de ajuda ou tiver alguma dúvida, nossa equipe de suporte está à disposição para ajudá-lo.</p>
        <p>Esperamos que você tenha uma ótima experiência com a Minha Empresa.</p>
        <p>Atenciosamente,<br>Minha Empresa</p>
    </body>
</html>
